.password-generated {
    display: flex;
    margin: 15px 0px;
    height: 40px;
}
  
.password-generated-pass {
    background-color: #111;
    padding: 10px;
    width: 260px;
    height: 100%;
    overflow-y: hidden;
    word-wrap: break-word;
}
  
.password-generated-copy {
    border: 2px solid #fff;
    font-size: 30px;
    height: 40px;
    width: 52px;
    cursor: pointer;
}