.password-container {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}
  
.password-container-label {
    margin-right: 10px;
}
  
.password-container-input {
    margin-left: 10px;
    width: 50px;
}
  
.password-container-input:checked{
    margin-left: 10px;
}
  
.password-container-icon {
    cursor: pointer;
}
  